{% extends 'layout.html' %}
{% block body %}
<!doctype html>
<head>
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <style type="text/css">
      body {
          background-image: url(static/images/ForAbout.jpg);
          background-size: cover;
          background-attachment: fixed;
      }
  </style>

</head>
<body>
  <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/07/3d/9f/2d.jpg" class="img-fluid" alt="Responsive image">
  <br>
  <br>
  <div class="container newbox">
    <p class="display-4" style="color: whitesmoke;"><b>Singapore</b></p>
    <p class="h6 lead" style="color: whitesmoke;"> Singapore is one of the most popular destination in South East Asian.
      With its century-old temples, bustling hawker centres and lush green spaces, Singapore’s varied charms are bound to enchant visitors to this small island.
      Singapore packs a surprisingly massive number of attractions: verdant parks, world-class zoos, luxurious hotels, historical structures, and deliciously cheap eats, all in a small land area.
      Singapore attracted approximately 18.5 million visitors in 2018, according to Singapore Tourism Board. This number increased by 6.2 percent from 2017, which likely is expected to keep increasing.
      There are a lot of choice of listing to accomodate the massive number of visitors. 
   </p>
    <p class="h6 lead" style="color: whitesmoke;">  Based on www.businessinsider.sg that is published at 9 May 2019. Airbnb rentals still illegal in Singapore, after operators said no to a Government limit of 90 rental days a year per house.
      However, there are still a lot of tourist that prefer to use the listing in airbnb. This platfrom is modelled based on the airbnb data that is scrapped on June 2019, and there are more than 5000 registered listings in airbnb. 
      It proved the airbnb business is still promising.
      <b style="color: lightgoldenrodyellow;"> This platftorm is made to determine the price of a listing for a new Airbnb host. </b> </p>
  </div>
  <br>
  
</body>
</html>
    
    
{% endblock body %}
