{% extends 'layout.html'%}

{% block body %}
<!doctype html>
<head>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            background-image: url(static/images/HomeSingapore_background.jpg);
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <h1>Data Visualization</h1>
    <h2>Category count listing</h2>
    <div class="row">
        <div class="col-md-3">
            <h3>Neighbourhood Value Counts</h3>
            <div class="chart mt-1" id="chart1">

            </div>

        </div>
        <div class="col-md-3">
            <h3>Room type Value Counts</h3>
            <div class="chart mt-1" id="chart2">

            </div>

        </div>
        <div class="col-md-3">
            <h3>Weekend Value Counts</h3>
            <div class="chart mt-1" id="chart3">

            </div>

        </div>

    </div>

    <h2>Category price listing</h2>
    <div class="row">
        <div class="col-md-3">
            <h3>Neighbourhood vs Price</h3>
            <div class="chart mt-1" id="chart4">

            </div>

        </div>
        <div class="col-md-3">
            <h3>Room type vs Price</h3>
            <div class="chart mt-1" id="chart5">

            </div>

        </div>
        <div class="col-md-3">
            <h3>Weekend vs Price</h3>
            <div class="chart mt-1" id="chart6">

            </div>

        </div>

    </div>

    <script>
        var chart1 = {{data1|safe}}
        var chart2 = {{data2|safe}}
        var chart3 = {{data3|safe}}
        var chart4 = {{data4|safe}}
        var chart5 = {{data5|safe}}
        var chart6 = {{data6|safe}}
        Plotly.plot('data1',data1,{}) 
        Plotly.plot('data2',data2,{}) 
        Plotly.plot('data3',data3,{}) 
        Plotly.plot('data4',data4,{}) 
        Plotly.plot('data5',data5,{}) 
        Plotly.plot('data6',data6,{}) 
    </script>
</body>

</html>
{% endblock body %}